* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.link-button {
  color: #007bff; /* Bootstrap primary color */
  text-decoration: none;
  padding: 8px 12px;
  border: 1px solid #007bff;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.link-button:hover {
  background-color: #007bff; /* Bootstrap primary color */
  color: #fff;
}
